html{
	background-image: url("https://img.itch.zone/aW1nLzc5NDQ4MTEuZ2lm/original/ekhAPF.gif");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}
.tot{
position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 10px;
}
.tot ul{
  list-style: none;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 font-weight: 600;
 transition: 2s;
}
    .MENU li a{
   text-decoration: none;
   color: rgb(223, 44, 230);
   font-family: Courier New;   
 }
 table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 50px;
}
th, td {
	padding: 10px;
	text-align: center;
}
th {
	background-color: #333;
	color:#fff
}
td {
	border: 1px solid #ddd;
	font-family:Courier New;
  color:deeppink
}
.parag{
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 80%;
	padding: 70px;
}
  .text{
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 70px;
}
.text2{
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 70px;
	color: deeppink;
	font-size: 30px;
}
 