html{
	background-image: url("https://opengameart.org/sites/default/files/1_37.png");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}
.tot{
position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 10px;
}
    .MENU li a{
   text-decoration: none;
   color: rgb(223, 44, 230);
   font-family: Courier New;   
 }
 
 .MENU1>li{
   font-weight: 300;
   list-style:square
 }
 .MENU1>li>a:hover{
   color: red;
   margin-left: 20px;
 }
 .MENU>li>a:hover{
   color: green;
   margin-left: 20px;
 
 }
 .MENU>li{
   list-style:none;
   list-style: none;
	  margin: 0;
	  padding-left: 10%;
	  padding-right: 10%;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
   font-weight: 600;
   transition: 2s;
 }
 .CAIXA1 {
   width: 415px;
   height: 250px;
   margin-bottom: auto;
   background: red;
   font-size: 20px;
   text-align: center;
   line-height: 10px;
  float: left;
 }
 .CAIXA2 {
   width: 415px;
   height: 250px;
   margin-bottom: auto;
   background: green;
   font-size: 20px;
   text-align: center;
   line-height: 10px;
  float: left;
 }
 .CAIXA3 {
   width: 415px;
   height: 250px;
   margin-bottom: auto;
   background:blue;
   font-size: 20px;
   text-align: center;
   line-height: 10px;
  float: left;
 }
  
 
